<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :brand, placeholder: "Brand" %>
    <%= f.text_area :model, placeholder: "Model name" %>
    <%= f.text_area :ssn,   placeholder: "Serial number" %>
    <%= f.text_area :cost,  placeholder: "Cost" %>
  </div>
  <%= f.submit "Add new item", class: "btn btn-primary" %>
<% end %>
