<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area    :brand, class: 'form-control', placeholder: "Brand" %>
    <%= f.text_area    :model, class: 'form-control', placeholder: "Model name" %>
    <%= f.text_area    :ssn,   class: 'form-control', placeholder: "Serial number" %>
    <%= f.number_field :cost,  class: 'form-control', placeholder: "Cost" %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit "Add new item", class: "btn btn-primary" %>
<% end %>
<script type="text/javascript">
  $('#item_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
