<li id="item-<%= item.id %>">
  <%= link_to gravatar_for(item.user, size: 50), item.user %>
  <span class="user"><%= link_to item.user.name, item.user %></span>
  <span class="item_info"><%= item.brand %> <%= item.model %></span>
  <span class="item_info">Serial number: <%= item.ssn %></span>
  <span class="item_info">Price: $<%= item.cost %></span>
  <%= image_tag item.picture.url if item.picture? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(item.created_at) %> ago.
    <% if current_user?(item.user) %>
      <%= link_to "delete", item, method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
